* {
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #68778d;
}

.container {
  /* border: 2px solid red; */
  position: absolute;
  /* How to center a div */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  padding: 16px 16px 40px 16px;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: max-content;
  border-radius: 20px;
  gap: 24px;
}

.qrCode img {
  border-radius: 10px;
  width: 288px;
  height: 288px;
}

.words {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 0 16px;
}

.bigWords,
.smallWords {
  text-align: center;
}

.bigWords p {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0;
  color: #1f314f;
}

.smallWords p {
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
}

@media (width <= 375px) {
  /* mobile styles */
}
